@model uLearn.Web.Controllers.CheckSlideIdsViewModel

@foreach (var error in Model.InnerErrors)
{
	<pre>
Идентификатор '@error.Key' встречается у слайдов:
@foreach (var title in error.Value)
{
	@title
}
</pre>
}

@foreach (var error in Model.OuterErrors)
{
	<pre>
Идентификатор '@error.Key' встречается у слайдов:
@foreach (var desc in error.Value)
{
	<span>'@desc.SlideTitle' в курсе '@desc.CourseTitle' (@desc.CourseId)</span>
}
</pre>
}

@if (!Model.InnerErrors.Any() && !Model.OuterErrors.Any())
{
	<p>Повторяющихся идентификаторов слайдов не найдено.</p>
}